<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fydp.smarttouchassistant"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fydp.smarttouchassistant.MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fydp.smarttouchassistant.DisplayOptionsActivity"
            android:label="@string/title_activity_display_options"
            android:parentActivityName="com.example.smarttouchassistant.MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smarttouchassistant.MainScreen" />
        </activity>
        <activity
            android:name="com.fydp.smarttouchassistant.MacroActivity"
            android:label="@string/title_activity_macro"
            android:parentActivityName="com.example.smarttouchassistant.DisplayOptionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smarttouchassistant.DisplayOptionsActivity" />
        </activity>
        <activity
            android:name="com.fydp.smarttouchassistant.MouseActivity"
            android:label="@string/title_activity_mouse"
            android:parentActivityName="com.example.smarttouchassistant.DisplayOptionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smarttouchassistant.DisplayOptionsActivity" />
        </activity>
        <activity
            android:name="com.fydp.smarttouchassistant.MacroControllerActivity"
            android:label="@string/title_activity_macro_controller"
            android:parentActivityName="com.example.smarttouchassistant.MacroActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smarttouchassistant.MacroActivity" />
        </activity>
        <activity
            android:name="com.fydp.smarttouchassistant.ControllerActivity"
            android:label="@string/title_activity_controller"
            android:parentActivityName="com.example.smarttouchassistant.DisplayOptionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smarttouchassistant.DisplayOptionsActivity" />
        </activity>
        <activity
            android:name="com.fydp.smarttouchassistant.NumpadActivity"
            android:label="@string/title_activity_numpad"
            android:parentActivityName="com.example.smarttouchassistant.DisplayOptionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smarttouchassistant.DisplayOptionsActivity" />
        </activity>
        <activity
            android:name="com.fydp.smarttouchassistant.MultiMediaActivity"
            android:label="@string/title_activity_multi_media"
            android:parentActivityName="com.example.smarttouchassistant.DisplayOptionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smarttouchassistant.DisplayOptionsActivity" />
        </activity>

        <service android:name="com.fydp.smarttouchassistant.BluetoothConnectionService" />

        <activity
            android:name="com.fydp.smarttouchassistant.BluetoothConnectionActivity"
            android:label="@string/title_activity_bluetooth_connection" >
        </activity>
        <activity
            android:name="com.fydp.smarttouchassistant.UserSettingsActivity"
            android:label="@string/title_activity_user_settings" >
        </activity>
    </application>

</manifest>